{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="google-site-verification" content="OWEHndv9xVexaePpkQnlle9pl858gNUCQOSKGJOica0" />
    <meta name="msvalidate.01" content="CA1EC19BA9E57339A51F49FEF38BEE6A" />
    <meta name="description" content="Learn how to apply for a Lowe’s Credit Card, manage your account, and take advantage of exclusive discounts and financing offers at Lowe’s stores and online." />
    <meta name="keywords" content="Lowe’s Credit Card, apply Lowe’s card, Lowe’s financing, Lowe’s account login, Lowe’s card payment, Lowe’s credit offers" />
    <meta name="robots" content="index, follow" />
    <title>Apply for Lowe’s Credit Card – Login, Benefits & Account Management</title>
    {{ super() }}
{% endblock %}
